<!DOCTYPE html>
<html lang="en">

<head>
    <title>quanlyhangnhapkho</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        @media only screen and (max-width: 700px) {
            body {
                font-size: 10px;
                width: 117%;
            }
            h1 {
                font-size: 15px;
            }
            h2 {
                font-size: 13px;
            }
            input[type="button"] {
                margin-bottom: 10px;
                border: 0;
                background: #2FF2FE;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
            input[type="button"]:hover {
                background: #2c707f;
            }
            #form-input {
                display: none;
                align-items: center;
                width: 270px;
                height: 45px;
                background-color: #fff;
                padding: 15px;
                margin-left: 620px;
            }
            #form-input1 {
                display: none;
                border-radius: 20px;
                align-items: center;
                width: 270px;
                height: 45px;
                background-color: #fff;
                padding: 15px;
                margin-left: 720px;
            }
            .loading-spinner-container {
                display: none;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }
            .form-input {
                display: none;
            }
            th {
                text-align: center;
                font-size: 10px;
            }
            #btncapnhatloai {
                width: 90px;
                height: 30px;
                margin-top: 5px;
                background-color: #F89007;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 10px
            }
            #btnchitietloai {
                width: 90px;
                height: 30px;
                margin-top: 5px;
                background-color: #FA0303;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 10px
            }
            #addloaispmodal {
                width: 80%;
                margin-left: 3%;
            }
            #putloaispmodal {
                width: 80%;
                margin-left: 3%;
            }
            #myModal {
                width: 80%;
                margin-left: 3%;
            }
            #quaylai {
                margin-right: 2%;
            }
        }
        
        @media only screen and (min-width: 701px) {
            input[type="button"] {
                margin-bottom: 10px;
                border: 0;
                background: #2FF2FE;
                color: #fff;
                border-radius: 5px;
                cursor: pointer;
            }
            input[type="button"]:hover {
                background: #2c707f;
            }
            #form-input {
                border-radius: 20px;
                display: flex;
                align-items: center;
                width: 270px;
                height: 45px;
                background-color: #fff;
                padding: 15px;
                margin-left: 620px;
            }
            #form-input1 {
                border-radius: 20px;
                display: flex;
                align-items: center;
                width: 270px;
                height: 45px;
                background-color: #fff;
                padding: 15px;
                margin-left: 720px;
            }
            input[type="search"]:focus {
                outline: none;
                /* Remove the outline */
                box-shadow: none;
                /* Remove the box shadow */
            }
            button[type="submit"]:focus {
                outline: none;
                /* Remove the outline */
                box-shadow: none;
                /* Remove the box shadow */
            }
            #loaisanpham {
                margin-top: 2px;
            }
            .loading-spinner-container {
                display: none;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
            }
            .loading-spinner {
                margin-top: 50px;
                width: 50px;
                height: 50px;
                border: 5px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                border-top-color: #000;
                animation: spin 1s ease-in-out infinite;
                margin-left: 48%;
            }
            @keyframes spin {
                to {
                    transform: rotate(360deg);
                }
            }
            #reader {
                width: 100%;
                /* Điều chỉnh kích thước theo ý muốn */
                height: 300px;
                /* Kích thước tối thiểu */
                margin: auto;
                /* Căn giữa */
            }
            #quaylai {
                margin-right: 2%;
            }
            th {
                text-align: center;
            }
            #btncapnhatloai {
                width: 120px;
                height: 50px;
                margin-top: 5px;
                background-color: #F89007;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 13px
            }
            #btnchitietloai {
                width: 120px;
                height: 50px;
                margin-top: 5px;
                background-color: #FA0303;
                border: none;
                border-radius: 5px;
                color: white;
                font-size: 13px
            }
        }
    </style>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Hàng Hóa</h1>
        <hr>
        <h2>Danh Sách Hàng Nhập Kho</h2>
        <div style="display: flex;">
            <input id="addloaisp" type="button" class="btn btn-danger" value="➕ Thêm loại sản phẩm" onclick="openaddloaimodal()">
            <div class="form-input" id="form-input">
                <input type="search" placeholder="Search..." style="border:none ">
                <button type="submit" class="search-btn" style="border:none; background-color: #fff;"><i class='bx bx-search'></i></button>
            </div>
        </div>
        <div style="display: flex;">
            <input id="quaylai" type="button" class="btn btn-danger" value="⬅ Quay lại" onclick="quaylai()">
            <input id="addsp" type="button" class="btn btn-danger" value="➕ Thêm sản phẩm">

            <div class="form-input" id="form-input1">
                <input type="search" placeholder="Search imel..." style="border:none ">
                <button type="submit" class="search-btn" style="border:none; background-color: #fff;"><i class='bx bx-search'></i></button>
            </div>
        </div>
        <div id="loaisanpham" class="table-data">
            <div class="order">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tên</th>
                            <th>Số lượng máy</th>
                            <th>Ngày nhập</th>
                            <th>Tổng tiền</th>
                            <th>Trung bình máy</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>

                    <tbody id="loaiTableBody">

                    </tbody>
                </table>

            </div>
        </div>

        <div id="sanpham" class="table-data">
            <div class="order">
                <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tên</th>
                            <th>Màu sắc</th>
                            <th>Imel</th>
                            <th>Dung lượng</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody id="sanphamTableBody">
                        <!-- Hàng dữ liệu sẽ được chèn vào đây từ phía client -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">QR Code Reader</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="reader">
                            <div class="qr-box" id="qr-box"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeqr">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="loading-spinner-container" id="loadingspinnercontainer">
            <div class="loading-spinner" id="loadingSpinnerkho"></div>
            <p id="loadingtext">Đang tải dữ liệu</p>
        </div>
        <div class="modal fade" id="addloaispmodal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryModalLabel">Thêm lô hàng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form thêm thể loại -->
                        <div class="form-group">
                            <label for="name" style="float: left;">Tên lô hàng:</label>
                            <input type="text" class="form-control" id="nameloai" name="name" placeholder="Nhập tên lô hàng">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Số lượng máy:</label>
                            <input type="text" class="form-control" id="soluong" name="soluong" placeholder="Nhập số lượng máy">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Tổng tiền lô hàng:</label>
                            <input type="text" class="form-control" id="tienlo" name="tongtien" placeholder="Nhập tổng tiền lô hàng">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Ngày nhập:</label>
                            <input type="date" class="form-control" id="dateloai" name="date">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="savekhachButton" onclick="addloaisp()" data-dismiss="modal">Lưu</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="putloaispmodal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryModalLabel">Cập nhật lô hàng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form thêm thể loại -->
                        <div class="form-group">
                            <label for="name" style="float: left;">Tên lô hàng:</label>
                            <input type="text" class="form-control" id="nameloai1" name="name" placeholder="Nhập tên lô hàng">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Số lượng máy:</label>
                            <input type="text" class="form-control" id="soluong1" name="soluong" placeholder="Nhập số lượng máy">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Tổng tiền lô hàng:</label>
                            <input type="text" class="form-control" id="tienlo1" name="name" placeholder="Nhập tổng tiền lô hàng">
                        </div>
                        <div class="form-group">
                            <label for="name" style="float: left;">Ngày nhập:</label>
                            <input type="date" class="form-control" id="dateloai1" name="date">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            <button type="button" class="btn btn-primary" id="saveloaispButton" data-dismiss="modal">Lưu</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://www.ansuataohanoi.com/html5_qrcode.js" defer></script>
    <script src="https://www.ansuataohanoi.com/nhapkho.js" defer></script>
</body>

</html>

</html>