<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        #register-container {
            width: 350px;
            margin: 0 auto;
            margin-top: 100px;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            /* Align the content in the center */
        }

        #dialogsuccess {
            width: 350px;
            margin: 0 auto;
            margin-top: 100px;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: none;
        }

        #otp-container {
            width: 350px;
            margin: 0 auto;
            margin-top: 100px;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: none;
            /* Align the content in the center */
        }

        #kho-container {
            width: 350px;
            margin: 0 auto;
            margin-top: 100px;
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            display: none;
        }

        .logo {
            margin-bottom: 20px;
            background-color: #2FF2FE;
            border-radius: 5px;
            padding: 0px;
            /* Adjust the margin as needed */
        }

        .logo img {
            max-width: 100%;
            height: auto;
        }

        input[type="text"],
        input[type="password"] {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        input[type="button"] {
            width: 100%;
            padding: 10px;
            border: 0;
            background: #2FF2FE;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }

        input[type="button"]:hover {
            background: #2c707f;
        }

        .no {
            display: none;
        }
    </style>
</head>

<body>

    <div id="register-container">
        <div class="logo">
            <h3
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; font-weight: bold; font-size: 40px; text-shadow: 1px 2px 5px rgba(242, 11, 11, 0.5);">
                BICRAFT</h3>
        </div>
        <h2>Register</h2>
        <input type="text" placeholder="Họ và Tên" id="name" name="name" required><br>
        <input type="text" placeholder="Số Điện Thoại" id="phone" name="phone" required><br>
        <input type="text" placeholder="Email" id="email" name="email" required><br>
        <input type="text" placeholder="Password" id="password" name="password" required><br>
        <div id="recapcha" style="margin-top:5px"></div>
        <div id="error-container" style="margin-top:5px">

        </div>
        <input type="button" value="Register" onclick="registerUser()">

    </div>
    <div id="otp-container">
        <div class="logo">
            <h3
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; font-weight: bold; font-size: 40px; text-shadow: 1px 2px 5px rgba(242, 11, 11, 0.5);">
                BICRAFT</h3>
        </div>
        <h2>Nhập mã OTP</h2>
        <input type="text" placeholder="nhập mã OTP" id="otp" name="otp" required><br>
        <input type="button" value="Verify" onclick="codeverify()">
        <div class="no alert alert-danger">OTP error</div>
    </div>
    <div id="kho-container">
        <div class="logo">
            <h3
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; font-weight: bold; font-size: 40px; text-shadow: 1px 2px 5px rgba(242, 11, 11, 0.5);">
                BICRAFT</h3>
        </div>
        <h2>Tạo kho chứa của bạn</h2>
        <input type="text" placeholder="Tên kho chứa" id="namekho" name="name" required><br>
        <input type="text" placeholder="Địa chỉ" id="address" name="address" required><br>
        <input type="button" value="Initialization" onclick="postdepot()">
    </div>
    <div id="dialogsuccess" class="dialog-overlay">
        <div class="dialog-xemthem">
            <h2
                style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red; font-weight: bold; font-size: 40px; text-shadow: 1px 2px 5px rgba(242, 11, 11, 0.5);">
                Success!</h2>
            <div class="d-flex flex-column">
                <div class="d-flex">
                    <h6 class="me-3">
                        Đăng kí thành công
                    </h6>
                    <p>Vui lòng đợi 5 giây để trở về màn hình đăng nhập</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase.js"></script>
    <script src="https://www.ansuataohanoi.com/register.js"></script>
</body>


</html>